Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

eslint:
  run: npx eslint --fix {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

test:
  run: npx jest --findRelatedTests {staged_files}

chore: merged html refs into markup method
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/elements-reference.json
Due: eslint, prettier, test

feat: accept undefined as value
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: update import
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, stylelint, prettier, test

feat: new card component
  packages/custom-elements/src/components/card/card-body.ts
  packages/custom-elements/src/components/card/card-footer.ts
  packages/custom-elements/src/components/card/card-header.ts
  packages/custom-elements/src/components/card/card-image.ts
  packages/custom-elements/src/components/card/card-meta.ts
  packages/custom-elements/src/components/card/card.stories.ts
  packages/custom-elements/src/components/card/card.ts
Due: eslint, prettier, test

fix: wrong type in return
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: minor layout change
  .gitignore
  .idea/.gitignore
  .idea/tailwind-components.iml
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/vite.lib.config.js
Due: eslint, stylelint, prettier, test

chore: add build files
  packages/custom-elements/dist/tailwind-components.es.js
  packages/custom-elements/dist/tailwind-components.umd.js
  packages/custom-elements/lib/accordion-group.js
  packages/custom-elements/lib/accordion.js
  packages/custom-elements/lib/alert.js
  packages/custom-elements/lib/avatar-group.js
  packages/custom-elements/lib/avatar.js
  packages/custom-elements/lib/badge.js
  packages/custom-elements/lib/box.js
  packages/custom-elements/lib/button-group.js
  packages/custom-elements/lib/button.js
  packages/custom-elements/lib/card-body.js
  packages/custom-elements/lib/card-footer.js
  packages/custom-elements/lib/card-header.js
  packages/custom-elements/lib/card-image.js
  packages/custom-elements/lib/card-meta.js
  packages/custom-elements/lib/card.js
  packages/custom-elements/lib/custom-element.js
Due: eslint, prettier, test

chore: update packages
  packages/custom-elements/package.json
Due: prettier

chore: added card example
  packages/custom-elements/index.html
Due: none

fix: eslint warnings
  .eslintrc.js
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/card/card.ts
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: code improvements
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: code improvements
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: update build files
  packages/custom-elements/dist/tailwind-components.es.js
  packages/custom-elements/dist/tailwind-components.umd.js
  packages/custom-elements/lib/accordion.js
  packages/custom-elements/lib/card.js
  packages/custom-elements/lib/custom-element.js
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: renamed method from "raw" to "rawHtml"
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, prettier, test

feat: simplified create element method
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/dist/tailwind-components.es.js
  packages/custom-elements/dist/tailwind-components.umd.js
  packages/custom-elements/lib/accordion-group.js
  packages/custom-elements/lib/accordion.js
  packages/custom-elements/lib/alert.js
  packages/custom-elements/lib/avatar-group.js
  packages/custom-elements/lib/avatar.js
  packages/custom-elements/lib/badge.js
  packages/custom-elements/lib/box.js
  packages/custom-elements/lib/button-group.js
  packages/custom-elements/lib/button.js
  packages/custom-elements/lib/card-body.js
  packages/custom-elements/lib/card-footer.js
  packages/custom-elements/lib/card-header.js
  packages/custom-elements/lib/card-image.js
  packages/custom-elements/lib/card-meta.js
  packages/custom-elements/lib/card.js
  packages/custom-elements/lib/custom-element.js
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/components/card/card-body.ts
  packages/custom-elements/src/components/card/card-footer.ts
  packages/custom-elements/src/components/card/card-header.ts
  packages/custom-elements/src/components/card/card-image.ts
  packages/custom-elements/src/components/card/card-meta.ts
  packages/custom-elements/src/components/card/card.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, stylelint, prettier, test

feat: svg support on create element
  .eslintrc.js
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/shared.ts
  packages/custom-elements/tsconfig.json
Due: eslint, prettier, test

chore: update packages
  package.json
Due: prettier

chore: typings improvements
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: typings improvements
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/components/card/card-body.ts
  packages/custom-elements/src/components/card/card-footer.ts
  packages/custom-elements/src/components/card/card-header.ts
  packages/custom-elements/src/components/card/card-image.ts
  packages/custom-elements/src/components/card/card-meta.ts
  packages/custom-elements/src/components/card/card.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

fix: button fail to read prop
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

feat: new carousel component
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/dist/tailwind-components.es.js
  packages/custom-elements/dist/tailwind-components.umd.js
  packages/custom-elements/index.html
  packages/custom-elements/lib/accordion.js
  packages/custom-elements/lib/button.js
  packages/custom-elements/lib/carousel-item.js
  packages/custom-elements/lib/carousel.js
  packages/custom-elements/src/components/carousel/carousel-item.ts
  packages/custom-elements/src/components/carousel/carousel.stories.ts
  packages/custom-elements/src/components/carousel/carousel.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/vite.lib.config.js
Due: eslint, stylelint, prettier, test

feat: added controls to carousel
  packages/custom-elements/src/components/carousel/carousel-item.ts
  packages/custom-elements/src/components/carousel/carousel.stories.ts
  packages/custom-elements/src/components/carousel/carousel.ts
Due: eslint, prettier, test

feat: added isBoolean and isNumber helpers
  packages/custom-elements/src/lib/shared.ts
Due: eslint, prettier, test

fix: remove booleans from template output
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: code cleanup
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, prettier, test

chore: update package.json
  packages/custom-elements/package.json
Due: prettier

fix: wrong type definition
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: improved jsx support
  packages/custom-elements/.babelrc
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/dist/tailwind-components.es.js
  packages/custom-elements/dist/tailwind-components.umd.js
  packages/custom-elements/index.html
  packages/custom-elements/lib/accordion.js
  packages/custom-elements/lib/button.js
  packages/custom-elements/lib/carousel-item.js
  packages/custom-elements/lib/carousel.js
  packages/custom-elements/lib/custom-element.js
  packages/custom-elements/package.json
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, stylelint, prettier, test

fix: button group fail to render
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, prettier, test

chore: removed dist/lib folder until a more stable release
  packages/custom-elements/dist/tailwind-components.es.js
  packages/custom-elements/dist/tailwind-components.umd.js
  packages/custom-elements/lib/accordion-group.js
  packages/custom-elements/lib/accordion.js
  packages/custom-elements/lib/alert.js
  packages/custom-elements/lib/avatar-group.js
  packages/custom-elements/lib/avatar.js
  packages/custom-elements/lib/badge.js
  packages/custom-elements/lib/box.js
  packages/custom-elements/lib/button-group.js
  packages/custom-elements/lib/button.js
  packages/custom-elements/lib/card-body.js
  packages/custom-elements/lib/card-footer.js
  packages/custom-elements/lib/card-header.js
  packages/custom-elements/lib/card-image.js
  packages/custom-elements/lib/card-meta.js
  packages/custom-elements/lib/card.js
  packages/custom-elements/lib/carousel-item.js
  packages/custom-elements/lib/carousel.js
  packages/custom-elements/lib/custom-element.js
Due: eslint, prettier, test

chore: storybook improvements
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/badge/badge.stories.ts
Due: eslint, stylelint, prettier, test

feat: new toast component
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/components/toast/toast.stories.ts
  packages/custom-elements/src/components/toast/toast.ts
  packages/custom-elements/src/shared/close-button/close-button.ts
  packages/custom-elements/tailwind.config.js
  packages/custom-elements/tailwind.css
  packages/custom-elements/vite.lib.config.js
Due: eslint, stylelint, prettier, test

chore: general style improvements
  packages/custom-elements/index.html
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/components/toast/toast.ts
  packages/custom-elements/tailwind.config.js
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

chore: improved toast component
  packages/custom-elements/index.html
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/toast/toast.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/shared/close-button/close-button.ts
Due: eslint, prettier, test

feat: jsx syntax style for all components
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/src/components/accordion/accordion-group.tsx
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/accordion/accordion.tsx
  packages/custom-elements/src/components/alert/alert.tsx
  packages/custom-elements/src/components/avatar/avatar-group.tsx
  packages/custom-elements/src/components/avatar/avatar.tsx
  packages/custom-elements/src/components/badge/badge.tsx
  packages/custom-elements/src/components/card/card-body.tsx
  packages/custom-elements/src/components/card/card-footer.tsx
  packages/custom-elements/src/components/card/card-header.tsx
  packages/custom-elements/src/components/card/card-image.ts
  packages/custom-elements/src/components/card/card-image.tsx
  packages/custom-elements/src/components/card/card-meta.tsx
  packages/custom-elements/src/components/card/card.stories.ts
  packages/custom-elements/src/components/card/card.tsx
  packages/custom-elements/src/components/carousel/carousel-item.tsx
  packages/custom-elements/src/components/carousel/carousel.ts
  packages/custom-elements/src/components/carousel/carousel.tsx
  packages/custom-elements/src/components/toast/toast.ts
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/elements/box/box.tsx
  packages/custom-elements/src/elements/button/button-group.tsx
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/shared/close-button/close-button.ts
  packages/custom-elements/src/shared/close-button/close-button.tsx
  packages/custom-elements/tailwind.config.js
  packages/custom-elements/vite.lib.config.js
Due: eslint, stylelint, prettier, test

chore: removed rawHTML util
  packages/custom-elements/src/elements/button/button.tsx
Due: test

fix: FOUC when mounting component
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

fix: loading icon not visible on dark mode
  packages/custom-elements/src/elements/button/button.tsx
Due: test

fix: failing to render some svg elements
  packages/custom-elements/src/lib/shared.ts
Due: eslint, prettier, test

Path conditions:
  eslint: any of: *.{js,ts}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{js,ts,css,json,yml}
  test: any of: *.{js,jsx,ts,tsx}
