Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,ts,css,json,yml}'
      run: npx prettier --write {staged_files}
    test:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx jest --findRelatedTests {staged_files}

chore: added css inline session
  packages/custom-elements/README.md
Due: none

chore: update package
  package.json
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/README.md
  packages/custom-elements/package.json
Due: stylelint, prettier

chore: fix broken examples
  packages/custom-elements/README.md
  packages/custom-elements/index.html
Due: none

chore: update styling session
  packages/custom-elements/README.md
Due: none

chore: minor changes
  packages/custom-elements/README.md
Due: none

chore: update REAME
  packages/custom-elements/README.md
Due: none

chore: update REAME
  packages/custom-elements/README.md
  packages/custom-elements/assets/images/alert_component.png
  packages/custom-elements/assets/images/custom_element_lifecycle.svg
Due: none

chore: minor changes
  package.json
  packages/custom-elements/README.md
  packages/custom-elements/assets/images/ce-alert.png
  packages/custom-elements/assets/images/ce-article.png
  packages/custom-elements/package.json
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: update package
  package.json
  packages/custom-elements/package.json
Due: prettier

chore: update package
  packages/custom-elements/package.json
Due: prettier

removed .idea folder
  .idea/modules.xml
Due: none

chore: code cleanup
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: move styles outside
  packages/custom-elements/src/elements/button/button-group.css
  packages/custom-elements/src/elements/button/button-group.tsx
  packages/custom-elements/src/elements/button/button.css
  packages/custom-elements/src/elements/button/button.tsx
Due: stylelint, prettier, test

chore: minor changes
  .eslintrc.js
  .nvmrc
  .stylelintrc
  jest.config.js
  lefthook.yml
  lint-staged.config.js
  package.json
  packages/custom-elements/.nvmrc
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/vitest.config.ts
  packages/custom-elements/vitest.setup.ts
Due: eslint, stylelint, prettier, test

chore: minor changes
  .idea/modules.xml
  lefthook.yml
  lint-staged.config.js
  package.json
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/vitest.config.ts
Due: eslint, stylelint, prettier, test

chore: update storybook config
  package.json
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/preview.js
  packages/custom-elements/package.json
  packages/custom-elements/tsconfig.json
  packages/custom-elements/vitest.config.js
  packages/custom-elements/vitest.setup.js
Due: eslint, prettier, test

chore: minor changes
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/shared.ts
Due: eslint, prettier, test

fix: storybook failing to build
  .gitignore
  .stylelintrc
  package.json
  packages/custom-elements/.storybook/.babelrc
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/preview-head.html
  packages/custom-elements/.storybook/preview.js
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/postcss.config.js
  packages/custom-elements/src/components/accordion/accordion-group.tsx
  packages/custom-elements/src/components/accordion/accordion.css
  packages/custom-elements/src/components/accordion/accordion.tsx
  packages/custom-elements/src/components/alert/alert.tsx
  packages/custom-elements/src/components/avatar/avatar-group.tsx
  packages/custom-elements/src/components/avatar/avatar.css
  packages/custom-elements/src/components/avatar/avatar.tsx
  packages/custom-elements/src/components/badge/badge.tsx
  packages/custom-elements/src/components/card/card-body.tsx
  packages/custom-elements/src/components/card/card-footer.tsx
  packages/custom-elements/src/components/card/card-header.tsx
  packages/custom-elements/src/components/card/card-image.tsx
  packages/custom-elements/src/components/card/card-meta.tsx
  packages/custom-elements/src/components/card/card.tsx
  packages/custom-elements/src/components/carousel/carousel-item.tsx
  packages/custom-elements/src/components/carousel/carousel.css
  packages/custom-elements/src/components/carousel/carousel.tsx
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/elements/box/box.tsx
  packages/custom-elements/src/elements/button/button-group.tsx
  packages/custom-elements/src/elements/button/button.css
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/styling-element.ts
  packages/custom-elements/src/shared/close-button/close-button.tsx
Due: eslint, stylelint, prettier, test

chore: migrate close-button to web-component
  packages/custom-elements/src/common/close-button/close-button.css
  packages/custom-elements/src/common/close-button/close-button.tsx
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/env.d.ts
  packages/custom-elements/src/shared/close-button/close-button.tsx
Due: eslint, stylelint, prettier, test

chore: move styles to css file
  packages/custom-elements/src/components/alert/alert.css
  packages/custom-elements/src/components/alert/alert.tsx
Due: stylelint, prettier, test

chore: move styles to css file
  packages/custom-elements/src/components/accordion/accordion-group.css
  packages/custom-elements/src/components/accordion/accordion-group.tsx
  packages/custom-elements/src/components/accordion/accordion.css
  packages/custom-elements/src/components/accordion/accordion.tsx
Due: stylelint, prettier, test

chore: minor changes
  packages/custom-elements/src/elements/button/button.css
  packages/custom-elements/tailwind.css
Due: stylelint, prettier

chore: minor changes
  packages/custom-elements/.storybook/main.js
Due: eslint, prettier, test

chore: update packages
  packages/custom-elements/package.json
Due: prettier

chore: update packages
  package.json
Due: prettier

chore: minor changes
  packages/custom-elements/src/components/accordion/accordion-group.css
  packages/custom-elements/src/components/accordion/accordion.css
  packages/custom-elements/src/components/alert/alert.css
  packages/custom-elements/src/components/avatar/avatar.css
  packages/custom-elements/src/components/card/card-image.css
  packages/custom-elements/src/components/card/card-image.tsx
  packages/custom-elements/src/components/card/card.css
  packages/custom-elements/src/components/card/card.tsx
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/form-element.ts
Due: eslint, stylelint, prettier, test

feat: load styles async
  packages/ui/src/lib/styling-element.ts
Due: eslint, prettier, test

chore: moved styles.css to styles folder
  .gitignore
  packages/ui/.storybook/preview.js
  packages/ui/index.html
  packages/ui/src/common/close-button/close-button.css
  packages/ui/src/common/close-button/close-button.tsx
  packages/ui/src/components/accordion/accordion-group.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar-group.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/card/card-body.tsx
  packages/ui/src/components/card/card-footer.tsx
  packages/ui/src/components/card/card-header.tsx
  packages/ui/src/components/card/card-image.tsx
  packages/ui/src/components/card/card-meta.tsx
  packages/ui/src/components/card/card.tsx
  packages/ui/src/components/carousel/carousel-item.tsx
  packages/ui/src/components/carousel/carousel.tsx
  packages/ui/src/components/toast/toast.css
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/box/box.tsx
  packages/ui/src/elements/button/button-group.tsx
  packages/ui/src/elements/button/button.css
  packages/ui/src/elements/button/button.tsx
  packages/ui/src/styles/preflight.css
  packages/ui/src/styles/styles.css
  packages/ui/src/styles/theme.css
  packages/ui/styles.css
  packages/ui/vite.config.js
  packages/ui/vite.lib.config.js
Due: eslint, stylelint, prettier, test

chore: cleanup styles
  packages/ui/src/components/accordion/accordion-group.css
  packages/ui/src/components/accordion/accordion-group.tsx
  packages/ui/src/components/alert/alert.css
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar.css
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.css
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/card/card.css
  packages/ui/src/components/card/card.tsx
  packages/ui/src/components/carousel/carousel-item.css
  packages/ui/src/components/carousel/carousel-item.tsx
  packages/ui/src/components/carousel/carousel.css
  packages/ui/src/components/carousel/carousel.stories.mdx
  packages/ui/src/components/carousel/carousel.tsx
  packages/ui/src/components/toast/toast.css
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/button/button.css
  packages/ui/src/elements/button/button.stories.mdx
  packages/ui/src/elements/button/button.tsx
  packages/ui/src/lib/create-element.ts
  packages/ui/src/lib/custom-element.ts
  packages/ui/src/lib/styling-element.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/styles/theme.css
Due: eslint, stylelint, prettier, test

chore: update package.json
  packages/ui/package.json
Due: prettier

fix: wrong identifier for .is-horizontal
  packages/ui/src/components/card/card.css
Due: stylelint, prettier

fix: removed unused method
  packages/ui/src/lib/utils.ts
Due: eslint, prettier, test

fix: fix icon style
  packages/ui/src/elements/button/button.css
Due: stylelint, prettier

fix: css improvements for the button
  packages/ui/src/elements/button/button.css
  packages/ui/src/elements/button/button.stories.mdx
  packages/ui/src/elements/button/button.tsx
Due: stylelint, prettier, test

chore: move animations to the new animation.css file
  packages/ui/src/elements/button/button.tsx
  packages/ui/src/styles/animation.css
  packages/ui/src/styles/preflight.css
  packages/ui/src/styles/styles.css
  packages/ui/src/styles/theme.css
  packages/ui/vite.config.js
  packages/ui/vite.lib.config.js
Due: eslint, stylelint, prettier, test
