Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

eslint:
  run: npx eslint --fix {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

test:
  run: npx jest --findRelatedTests {staged_files}

chore: minor changes
  packages/custom-elements/.babelrc
  packages/custom-elements/.storybook/.babelrc
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/src/env.d.ts
Due: eslint, stylelint, prettier, test

chore: better storybook integration
  .eslintrc.js
  .idea/prettier.xml
  .vscode/settings.json
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/manager.js
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/src/components/avatar/avatar.stories.mdx
  packages/custom-elements/src/components/avatar/avatar.stories.ts
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/env.d.ts
  packages/custom-elements/tailwind.config.js
Due: eslint, stylelint, prettier, test

chore: improved storybook integration
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/manager.js
  packages/custom-elements/.storybook/preview.js
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/.storybook/theme.js
  packages/custom-elements/package.json
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

docs: general improvements
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/src/components/avatar/avatar.stories.mdx
  packages/custom-elements/src/components/toast/toast.stories.mdx
  packages/custom-elements/src/components/toast/toast.stories.ts
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/src/shared/close-button/close-button.tsx
Due: eslint, stylelint, prettier, test

chore: improved storybook integration
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/manager.js
  packages/custom-elements/.storybook/preview-head.html
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/.storybook/theme.js
  packages/custom-elements/src/components/toast/toast.stories.mdx
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, stylelint, prettier, test

feat: converted all stories to mdx
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/accordion/accordion.stories.mdx
  packages/custom-elements/src/components/accordion/accordion.stories.ts
  packages/custom-elements/src/components/alert/alert.stories.mdx
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/avatar/avatar.stories.mdx
  packages/custom-elements/src/components/badge/badge.stories.mdx
  packages/custom-elements/src/components/badge/badge.stories.ts
  packages/custom-elements/src/components/card/card.stories.mdx
  packages/custom-elements/src/components/card/card.stories.ts
  packages/custom-elements/src/components/carousel/carousel.stories.mdx
  packages/custom-elements/src/components/carousel/carousel.stories.ts
  packages/custom-elements/src/components/toast/toast.stories.mdx
  packages/custom-elements/src/elements/button/button.stories.mdx
Due: eslint, stylelint, prettier, test

chore: normalized some props
  package.json
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/src/components/alert/alert.stories.mdx
  packages/custom-elements/src/components/alert/alert.tsx
  packages/custom-elements/src/components/avatar/avatar.stories.mdx
  packages/custom-elements/src/components/avatar/avatar.tsx
  packages/custom-elements/src/components/badge/badge.stories.mdx
  packages/custom-elements/src/components/badge/badge.tsx
  packages/custom-elements/src/components/card/card.stories.mdx
  packages/custom-elements/src/components/toast/toast.stories.mdx
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/shared.ts
Due: eslint, stylelint, prettier, test

chore: update theme
  packages/custom-elements/.storybook/theme.js
Due: eslint, prettier, test

fix: storybook not loading
  packages/custom-elements/package.json
Due: prettier

chore: integrated new prettier-plugin-tailwindcss
  .prettierrc
  package.json
  packages/custom-elements/src/components/accordion/accordion.tsx
  packages/custom-elements/src/components/carousel/carousel-item.tsx
  packages/custom-elements/src/components/carousel/carousel.tsx
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/env.d.ts
  packages/custom-elements/src/shared/close-button/close-button.tsx
Due: eslint, prettier, test

chore: fix wrong property type
  packages/custom-elements/src/components/toast/toast.stories.mdx
Due: none

chore: update package
  package.json
Due: prettier

chore: code cleanup
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

feat: added box story
  packages/custom-elements/src/elements/box/box.stories.mdx
Due: none

chore: code cleanup
  packages/custom-elements/src/components/toast/toast.stories.mdx
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: minor style changes
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/preview-head.html
  packages/custom-elements/.storybook/preview.js
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/accordion/accordion.stories.mdx
  packages/custom-elements/src/components/alert/alert.stories.mdx
  packages/custom-elements/src/components/avatar/avatar.stories.mdx
  packages/custom-elements/src/components/badge/badge.stories.mdx
  packages/custom-elements/src/components/card/card.stories.mdx
  packages/custom-elements/src/components/carousel/carousel.stories.mdx
  packages/custom-elements/src/components/toast/toast.stories.mdx
  packages/custom-elements/src/elements/box/box.stories.mdx
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

chore: update packages
  package.json
  packages/custom-elements/package.json
Due: prettier

chore: general improvements
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/src/components/accordion/accordion-group.tsx
  packages/custom-elements/src/components/accordion/accordion.stories.mdx
  packages/custom-elements/src/components/accordion/accordion.tsx
  packages/custom-elements/src/components/alert/alert.tsx
  packages/custom-elements/src/components/avatar/avatar-group.tsx
  packages/custom-elements/src/components/avatar/avatar.tsx
  packages/custom-elements/src/components/badge/badge.tsx
  packages/custom-elements/src/elements/box/box.tsx
  packages/custom-elements/src/elements/button/button-group.tsx
  packages/custom-elements/src/elements/button/button.stories.mdx
  packages/custom-elements/src/elements/button/button.tsx
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, stylelint, prettier, test

chore: update storybook configs
  package.json
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/preview-head.html
  packages/custom-elements/.storybook/preview.js
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
Due: eslint, stylelint, prettier, test

chore: update package
  package.json
  packages/custom-elements/package.json
Due: prettier

chore: minor changes
  packages/custom-elements/src/components/accordion/accordion.tsx
  packages/custom-elements/src/components/toast/toast.tsx
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

feat: added README
  packages/custom-elements/README.md
  packages/custom-elements/assets/images/alert_component.png
  packages/custom-elements/assets/images/alert_component_with_colors.png
  packages/custom-elements/assets/images/custom_element_lifecycle.svg
  packages/custom-elements/assets/images/shadow_dom_high_level.svg
Due: none

feat: update assets
  packages/custom-elements/assets/images/custom_element_lifecycle.svg
  packages/custom-elements/assets/images/shadow_dom_high_level.svg
Due: none

chore: update README
  packages/custom-elements/README.md
Due: none

chore: update README
  packages/custom-elements/README.md
  packages/custom-elements/assets/images/custom_element_lifecycle.svg
  packages/custom-elements/assets/images/shadow_dom_high_level.svg
  packages/custom-elements/package.json
Due: prettier

feat: form support
  package.json
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/shared.ts
Due: eslint, stylelint, prettier, test

chore: update packages
  packages/custom-elements/package.json
Due: prettier

chore: improved form integration
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/form-element.ts
Due: eslint, prettier, test

chore: renamed project name
  package.json
  packages/custom-elements/package.json
  packages/custom-elements/vite.config.js
Due: eslint, prettier, test

chore: added initial styling session
  packages/custom-elements/README.md
Due: none

chore: update package.json
  package.json
  packages/custom-elements/package.json
Due: prettier

chore: update package
  packages/custom-elements/package.json
Due: prettier

chore: update introduction and conclusion session
  packages/custom-elements/README.md
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{js,ts,css,json,yml}
  test: any of: *.{js,jsx,ts,tsx}
