Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,ts,css,json,yml}'
      run: npx prettier --write {staged_files}
    test:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx jest --findRelatedTests {staged_files}

feat: use workspaces
  .eslintrc.js
  .ncurc.json
  .prettierignore
  .storybook/main.js
  jest.config.js
  package.json
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.cjs
  packages/components/index.html
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/env.d.ts
  packages/components/src/grid/grid.stories.ts
  packages/components/src/grid/grid.ts
  packages/components/src/main.ts
  packages/components/src/style.css
  packages/components/src/utils/breakpoints.util.ts
  packages/components/src/utils/gap.util.ts
  packages/components/src/utils/spacing.util.ts
  packages/components/tailwind.config.js
  packages/components/tsconfig.json
  pnpm-workspace.yaml
  postcss.config.js
  src/grid/grid.stories.ts
  src/grid/grid.ts
  src/main.ts
  src/utils/breakpoints.util.ts
  src/utils/gap.util.ts
Due: eslint, stylelint, prettier, test

feat: update wb template
  packages/components/index.html
  packages/components/src/main.ts
  packages/hybrids/.storybook/main.js
  packages/hybrids/.storybook/preview-head.html
  packages/hybrids/.storybook/preview.cjs
  packages/hybrids/.storybook/public/tailwind.css
  packages/hybrids/index.html
  packages/hybrids/package.json
  packages/hybrids/postcss.config.js
  packages/hybrids/src/elements/button/button.stories.ts
  packages/hybrids/src/elements/button/button.ts
  packages/hybrids/src/elements/button/button.wb.ts
  packages/hybrids/src/elements/index.ts
  packages/hybrids/src/env.d.ts
  packages/hybrids/src/grid/grid.stories.ts
  packages/hybrids/src/grid/grid.ts
  packages/hybrids/src/main.ts
  packages/hybrids/src/types.ts
  packages/hybrids/src/utils/breakpoints.util.ts
  packages/hybrids/src/utils/gap.util.ts
  packages/hybrids/src/utils/spacing.util.ts
  packages/hybrids/src/utils/web-component.util.ts
  packages/hybrids/tailwind.config.js
  packages/hybrids/tailwind.css
  packages/hybrids/tsconfig.json
  packages/hybrids/vite.config.js
Due: eslint, stylelint, prettier, test

feat: update button component
  package.json
  packages/components/.storybook/main.js
  packages/components/.storybook/preview-head.html
  packages/components/.storybook/preview.cjs
  packages/components/.storybook/public/tailwind.css
  packages/components/index.html
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/elements/button/button.hybrids.ts
  packages/components/src/elements/button/button.stories.ts
  packages/components/src/elements/button/button.ts
  packages/components/src/elements/index.ts
  packages/components/src/env.d.ts
  packages/components/src/grid/grid.stories.ts
  packages/components/src/grid/grid.ts
  packages/components/src/main.ts
  packages/components/src/style.css
  packages/components/src/types.ts
  packages/components/src/utils/breakpoints.util.ts
  packages/components/src/utils/gap.util.ts
  packages/components/src/utils/spacing.util.ts
  packages/components/src/utils/styling.util.ts
  packages/components/src/utils/web-component.util.ts
  packages/components/tailwind.config.js
  packages/components/tailwind.css
  packages/components/tsconfig.json
  packages/components/vite.config.js
  packages/hybrids/.storybook/public/tailwind.css
  packages/hybrids/src/elements/button/button.stories.ts
  packages/hybrids/src/elements/button/button.wb.ts
  packages/hybrids/src/elements/index.ts
  packages/hybrids/src/grid/grid.stories.ts
  packages/hybrids/src/utils/web-component.util.ts
Due: eslint, stylelint, prettier, test

feat: update button component
  packages/components/index.html
  packages/components/src/elements/button/button.hybrids.ts
  packages/components/src/elements/button/button.stories.ts
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/web-component.util.ts
Due: eslint, prettier, test

feat: update button component
  package-lock.json
  package.json
  packages/components/.storybook/public/tailwind.css
  packages/components/index.html
  packages/components/package.json
  packages/components/src/elements/button/button.hybrids.ts
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/web-component.util.ts
  packages/components/tsconfig.json
  packages/components/vite.config.js
Due: eslint, stylelint, prettier, test

feat: update button component
  package-lock.json
  packages/components/package.json
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/web-component.util.ts
  packages/components/tsconfig.json
Due: eslint, prettier, test

feat: update button component
  packages/components/src/elements/button/button.stories.ts
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/component.util.ts
  packages/components/src/utils/web-component.util.ts
Due: eslint, prettier, test

feat: improved component logic
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/component.util.ts
Due: eslint, prettier, test

feat: improved component logic
  packages/components/src/utils/component.util.ts
Due: eslint, prettier, test

feat: new button-group component
  packages/components/index.html
  packages/components/src/elements/button/button-group.ts
  packages/components/src/elements/button/button.ts
  packages/components/src/elements/index.ts
Due: eslint, prettier, test

chore: update button component
  packages/components/src/elements/button/button.ts
Due: eslint, prettier, test

chore: update component util
  packages/components/src/utils/component.util.ts
Due: eslint, prettier, test

chore: update spacing type
  packages/components/src/types.ts
Due: eslint, prettier, test

chore: update loading style
  packages/components/src/elements/button/button.ts
Due: eslint, prettier, test

feat: new alert component
  packages/components/src/components/alert/alert.ts
  packages/components/src/components/index.ts
Due: eslint, prettier, test

feat: added alert story
  packages/components/src/components/alert/alert.stories.ts
  packages/components/src/components/alert/alert.ts
Due: eslint, prettier, test

chore: update button story
  packages/components/src/elements/button/button.stories.ts
  packages/components/src/elements/button/button.ts
Due: eslint, prettier, test

feat: new box element
  packages/components/src/elements/box/box.ts
  packages/components/src/elements/index.ts
Due: eslint, prettier, test

chore: removed grid component
  packages/components/src/grid/grid.stories.ts
  packages/components/src/grid/grid.ts
Due: eslint, prettier, test

chore: better event handle
  packages/components/src/utils/component.util.ts
Due: eslint, prettier, test

feat: include new components
  packages/components/src/main.ts
Due: eslint, prettier, test

chore: update packages
  packages/components/package.json
Due: prettier

chore: improved event handler
  packages/components/src/components/alert/alert.ts
Due: eslint, prettier, test

chore: update storybook config
  packages/components/.storybook/preview-head.html
  packages/components/.storybook/public/tailwind.css
Due: stylelint, prettier

feat: moved all styles into css files
  packages/components/index.html
  packages/components/src/components/alert/alert.css
  packages/components/src/components/alert/alert.ts
  packages/components/src/elements/box/box.css
  packages/components/src/elements/box/box.ts
  packages/components/src/elements/button/button-group.css
  packages/components/src/elements/button/button-group.ts
  packages/components/src/elements/button/button.css
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/component.util.ts
Due: eslint, stylelint, prettier, test

feat: code cleanup
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components/alert/alert.stories.ts
  packages/components/src/components/alert/alert.ts
  packages/components/src/elements/box/box.ts
  packages/components/src/elements/button/button-group.ts
  packages/components/src/elements/button/button.css
  packages/components/src/elements/button/button.stories.ts
  packages/components/src/elements/button/button.ts
  packages/components/src/env.d.ts
  packages/components/src/lib/custom-elements.ts
  packages/components/src/utils/component.util.ts
  packages/components/src/utils/spacing.util.ts
  packages/components/src/utils/styling.util.ts
  packages/components/tsconfig.json
Due: eslint, stylelint, prettier, test

feat: support for inline css
  packages/components/src/lib/custom-element.ts
Due: eslint, prettier, test

fix: fail to import css in components
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.cjs
  packages/components/.storybook/preview.js
  packages/components/.storybook/public/tailwind.css
Due: eslint, stylelint, prettier, test

chore: update import path
  packages/components/package.json
  packages/components/src/components/alert/alert.ts
  packages/components/src/elements/box/box.ts
  packages/components/src/elements/button/button-group.ts
  packages/components/src/elements/button/button.css
  packages/components/src/elements/button/button.ts
  packages/components/src/utils/spacing.util.ts
Due: eslint, stylelint, prettier, test

fix: storybook not loading
  packages/components/package.json
Due: prettier

chore: update styles
  packages/components/src/components/alert/alert.css
  packages/components/src/elements/button/button.css
  packages/components/src/lib/custom-element.ts
Due: eslint, stylelint, prettier, test

chore: changed folder name from components to custom-elements
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/.storybook/preview-head.html
  packages/custom-elements/.storybook/preview.js
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/postcss.config.js
  packages/custom-elements/src/components/alert/alert.css
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/elements/box/box.css
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.css
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.css
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/elements/index.ts
  packages/custom-elements/src/env.d.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/main.ts
  packages/custom-elements/src/types.ts
  packages/custom-elements/src/utils/breakpoints.util.ts
  packages/custom-elements/src/utils/gap.util.ts
  packages/custom-elements/src/utils/spacing.util.ts
  packages/custom-elements/tailwind.config.js
  packages/custom-elements/tailwind.css
  packages/custom-elements/tsconfig.json
  packages/custom-elements/vite.config.js
Due: eslint, stylelint, prettier, test

chore: code cleanup
  package.json
  packages/custom-elements/.storybook/main.js
  packages/custom-elements/index.html
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/tsconfig.json
Due: eslint, prettier, test

chore: minor change
  packages/custom-elements/package.json
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

fix: added safari polyfill
  packages/custom-elements/.storybook/preview-head.html
  packages/custom-elements/index.html
  packages/custom-elements/src/elements/box/box.css
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, stylelint, prettier, test

chore: code cleanup
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: code cleanup
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: minor change
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test
