Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,ts,css,json,yml}'
      run: npx prettier --write {staged_files}
    test:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx jest --findRelatedTests {staged_files}

fix: events rebind when template update
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: cleanup events method
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: cleanup alert component
  packages/custom-elements/index.html
  packages/custom-elements/src/components/alert/alert.ts
Due: eslint, prettier, test

feat: added kanbn project
  .gitignore
  .kanbn/index.md
  .kanbn/tasks/alert-component.md
  .kanbn/tasks/avatar-component.md
  .kanbn/tasks/badge-component.md
  .kanbn/tasks/breadcrumb-component.md
  .kanbn/tasks/button-component.md
  .kanbn/tasks/calendar-component.md
  .kanbn/tasks/card-component.md
  .kanbn/tasks/carousel-component.md
  .kanbn/tasks/collapse-accordion.md
  .kanbn/tasks/drawer-component.md
  .kanbn/tasks/footer-component.md
  .kanbn/tasks/form-component.md
  .kanbn/tasks/hero-component.md
  .kanbn/tasks/loading-component.md
  .kanbn/tasks/menu-component.md
  .kanbn/tasks/model-component.md
  .kanbn/tasks/navbar-component.md
  .kanbn/tasks/pagination-component.md
  .kanbn/tasks/progress-component.md
  .kanbn/tasks/steps-component.md
  .kanbn/tasks/table-component.md
  .kanbn/tasks/tabs-component.md
  .kanbn/tasks/tag-component.md
  .kanbn/tasks/timeline-component.md
  .kanbn/tasks/toast-component.md
  .kanbn/tasks/tooltip-component.md
  .kanbn/tasks/treeview-component.md
Due: none

chore: added vscode config
  .gitignore
  .vscode/launch.json
Due: prettier

chore: update vscode launch config
  .vscode/launch.json
  .vscode/settings.json
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, prettier, test

chore: update packages
  package.json
  packages/custom-elements/package.json
Due: prettier

chore: update vscode config
  .vscode/launch.json
Due: prettier

chore: minor changes
  .gitignore
  .nvmrc
  .vscode/launch.json
Due: prettier

chore: use dataset for passing props
  packages/custom-elements/index.html
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

feat: add component split bundle option
  packages/custom-elements/package.json
  packages/custom-elements/vite.split.config.js
Due: eslint, prettier, test

chore: minor changes
  packages/custom-elements/package.json
  packages/custom-elements/vite.config.js
Due: eslint, prettier, test

chore: simplified base colors schema
  .idea/tailwind-components.iml
  .vscode/tasks.json
  package.json
  packages/custom-elements/.nvmrc
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/src/components/alert/alert.css
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.css
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/tailwind.config.js
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

chore: updated styles
  packages/custom-elements/index.html
  packages/custom-elements/src/components/alert/alert.css
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/box/box.css
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.css
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.css
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

chore: update alert component
  packages/custom-elements/index.html
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/tailwind.config.js
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

chore: update storybooks
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/elements/button/button.stories.ts
Due: eslint, stylelint, prettier, test

fix: storybook not rendering styles
  lefthook.yml
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/package.json
  packages/custom-elements/tailwind.css
Due: stylelint, prettier

feat: added accordion component
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/src/components/accordion/accordion-item.ts
  packages/custom-elements/src/components/accordion/accordion.stories.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/utils/breakpoints.util.ts
  packages/custom-elements/src/utils/gap.util.ts
  packages/custom-elements/src/utils/spacing.util.ts
  packages/custom-elements/vite.config.js
Due: eslint, stylelint, prettier, test

chore: code cleanup
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion-item.ts
  packages/custom-elements/src/components/accordion/accordion.stories.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, stylelint, prettier, test

feat: added avatar component
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.stories.ts
  packages/custom-elements/src/components/avatar/avatar.ts
Due: eslint, prettier, test

chore: code cleanup
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, prettier, test

chore: code cleanup
  packages/custom-elements/index.html
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.stories.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/components/index.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/tailwind.css
Due: eslint, stylelint, prettier, test

chore: code cleanup
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, stylelint, prettier, test

chore: code cleanup
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: update build for split files
  packages/custom-elements/package.json
  packages/custom-elements/vite.lib.config.js
Due: eslint, prettier, test

chore: some performance improvements
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

feat: new badge component
  packages/custom-elements/index.html
  packages/custom-elements/src/components/badge/badge.stories.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/components/index.ts
Due: eslint, prettier, test

chore: minor changes
  packages/custom-elements/src/components/accordion/accordion.stories.ts
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, prettier, test

feat: new create-element method
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: update package.json
  packages/custom-elements/package.json
Due: prettier

chore: update package.json
  package.json
Due: prettier

fix: added missing badge component
  packages/custom-elements/vite.lib.config.js
Due: eslint, prettier, test

fix: added missing property type
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: code improvements
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

chore: code improvements
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
  packages/custom-elements/src/lib/elements-reference.json
  packages/custom-elements/src/lib/shared.ts
  packages/custom-elements/src/lib/styling-element.ts
Due: eslint, prettier, test

feat: added rawHtml method
  packages/custom-elements/src/lib/create-element.ts
  packages/custom-elements/src/lib/custom-element.ts
Due: eslint, prettier, test

feat: integrated new markup helper
  packages/custom-elements/index.html
  packages/custom-elements/package.json
  packages/custom-elements/postcss.config.js
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.ts
  packages/custom-elements/vite.config.js
  packages/custom-elements/vite.lib.config.js
Due: eslint, prettier, test

chore: update storybook styles
  packages/custom-elements/.storybook/public/tailwind.css
Due: stylelint, prettier

fix: better markup typing
  packages/custom-elements/src/lib/create-element.ts
Due: eslint, prettier, test

chore: changed prefix to 'ui'
  packages/custom-elements/.storybook/public/tailwind.css
  packages/custom-elements/index.html
  packages/custom-elements/src/components/accordion/accordion-group.ts
  packages/custom-elements/src/components/accordion/accordion.stories.ts
  packages/custom-elements/src/components/accordion/accordion.ts
  packages/custom-elements/src/components/alert/alert.stories.ts
  packages/custom-elements/src/components/alert/alert.ts
  packages/custom-elements/src/components/avatar/avatar-group.ts
  packages/custom-elements/src/components/avatar/avatar.stories.ts
  packages/custom-elements/src/components/avatar/avatar.ts
  packages/custom-elements/src/components/badge/badge.stories.ts
  packages/custom-elements/src/components/badge/badge.ts
  packages/custom-elements/src/elements/box/box.ts
  packages/custom-elements/src/elements/button/button-group.ts
  packages/custom-elements/src/elements/button/button.stories.ts
  packages/custom-elements/src/elements/button/button.ts
Due: eslint, stylelint, prettier, test
